<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Favori(TE)</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
            crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/myOrders.css">
</head>
<body>


<div layout:fragment="content">
    <div class="container">
        <div style="text-align:center; margin-top:10px;">
            <a id="lienDetail" href="../myOrders">Voir toutes mes commandes</a>
        </div>
        <div style="margin-top:15px" class="card">
            <h1 style="text-align:center;">
                Détails de la commande <span th:text="${order.reference}	"></span>
            </h1>
            <div id="cloth-admin" class="card-body">
                <div>
                    <th:label>Commandée le :</th:label>
                    <th:label class="card-title"
                              th:text="${#temporals.format(order.creationDate, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}"></th:label>
                </div>
                <div>
                    <th:label>Expédiée le :</th:label>
                    <th:label th:if="${order.shippingDate == null}">Commande en cours de préparation</th:label>
                    <th:label class="card-title"
                              th:text="${#temporals.format(order.shippingDate, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}"></th:label>
                </div>
                <div th:if="${order.deliveryDate != null}">
                    <th:label>Livrée le :</th:label>
                    <th:label class="card-title"
                              th:text="${#temporals.format(order.deliveryDate, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}"></th:label>
                </div>
                <div>
                    <th:label>Adresse de livraison :</th:label>
                    <th:label class="card-title"
                              th:text="${order.deliveryAddress.name} + ' : ' + ${order.deliveryAddress.street} + ' ' + ${order.deliveryAddress.city.zipCode}"></th:label>
                </div>
                <div>
                    <br/>
                    <th:label>Adresse de facturation :</th:label>
                    <th:label class="card-title"
                              th:text="${order.billingAddress.name} + ' : ' + ${order.billingAddress.street} + ' ' + ${order.billingAddress.city.zipCode}"></th:label>
                </div>
                <div>
                    <th:label>Montant HT :</th:label>
                    <th:label class="card-text" th:text="${order.taxOutPrice}"></th:label>
                </div>
                <div>
                    <th:label>Montant TTC :</th:label>
                    <th:label class="card-text" th:text="${order.taxInPrice}"></th:label>
                </div>
                <div>
                    <br/>
                    <th:label>Liste des articles de la commande :</th:label>
                    <p th:each="orderLine : ${order.orderLines}">
                        <th:label class="card-title"
                                  th:text="'- ' + ${orderLine.cloth.productType.name} + ' | ' + ${orderLine.cloth.name} + ' x' + ${orderLine.quantity}"></th:label>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</body>
</html>
